<div class="container m-5">
  <div class="row">
    <div class="col-2"></div>
    <h4 class="my-4"><span style="background-color:#EFEFEF">　新規会員登録　</span></h4>
  </div>
      <%= form_with model: @member, url: member_registration_path, id: 'new_member', local: true do |f| %>
      <%= flash[:error] %>
  <div class="row">
    <div class="col-1"></div>
      <table class="table table-borderless col-8">
        <tr>
          <th>名前</th>
          <th><%= f.label :"(姓)" %></th>
          <th><%= f.text_field :last_name, autofocus: true %></th>
          <th><%= f.label :"(名)" %></th>
          <th><%= f.text_field :first_name, autofocus: true %></th>
        </tr>
        <tr>
          <th>フリガナ</th>
          <th><%= f.label :"(セイ)" %></th>
          <th><%= f.text_field :last_name_kana, autofocus: true %></th>
          <th><%= f.label :"(メイ)" %></th>
          <th><%= f.text_field :first_name_kana, autofocus: true %></th>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <th></th>
          <th><%= f.email_field :email, autofocus: true, autocomplete: "email" %></th>
          <th></th>
        </tr>
        <tr>
          <th>郵便番号(ハイフンなし)</th>
          <th></th>
          <th><%= f.text_field :postal_code, autofocus: true %></th>
        </tr>
        <tr>
          <th>住所</th>
          <th></th>
          <th colspan="2"><%= f.text_field :address, autofocus: true %></th>
        </tr>
        <tr>
          <th>電話番号(ハイフンなし)</th>
          <th></th>
          <th><%= f.text_field :phone_number, autofocus: true %></th>
        </tr>
        <tr>
          <th>パスワード(6文字以上)</th>
          <th></th>
          <th><%= f.password_field :password, autocomplete: "new-password" %></th>
        </tr>
        <tr>
          <th>パスワード(確認用)</th>
          <th></th>
          <th><%= f.password_field :password_confirmation, autocomplete: "new-password" %></th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th><%= f.submit "　　新規登録　　" , class:'btn btn-success' %></th>
        </tr>
        <% end %>
      </table>
    </div>

   <div class="row">
    <div class="col-2"></div>
    <h4 class="my-4"><span style="background-color:#EFEFEF">　既に登録済みの方　</span></h4>
    </div>
    <div class="row">
      <div class="col-3"></div>
      <%= link_to "こちら", new_member_session_path %> からログインしてください。
    </div>
    </div>
  </div>
</div>