<div class="container m-5">
  <div class="row">
    <div class="col-md-3"></div>
    <h4 class="my-4"><span style="background-color:#EFEFEF">　注文履歴詳細　</span></h4>
  </div>
  <table class="col-10">
    <tr>
      <th>購入者</th>
      <th><%= @order.name %></th>
    </tr>
    <tr>
      <th>注文日</th>
      <th><%= @order.created_at.strftime('%Y/%m/%d') %></th>
    </tr>
    <tr>
      <th>配送先</th>
      <th><%= @order.street_address %></th>
    </tr>
    <tr>
      <th>支払い方法</th>
      <th><%= @order.payment_method %></th>
    </tr>
    <tr>
      <th>注文ステータス</th>
      <th><%= @order.status %></th>
      <%= form_with(model: @order, url: admin_order_path, method: :patch, local: true, class: "form-row") do |f| %>
      <th><%= f.select :status,Order.statuses.keys.map, class:"form-control form-control-sm col-6"  %></th>
      <th><%= f.submit "更新" %></th>
      <% end %>
    </tr>
  </table>
  <table class="col-10">
    <thead>
      <tr>
        <th>商品名</th>
        <th>単価(税込)</th>
        <th>数量</th>
        <th>小計</th>
        <th>制作ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @order_details.each do |order_detail| %>
        <tr>
          <td><%= order_detail.product.name %></td>
          <td><%= order_detail.price %></td>
          <td><%= order_detail.quantity %></td>
          <td><%= ((order_detail.price * order_detail.quantity).floor).to_s(:delimited) %></td>
            <%= form_with(model: @order_details, url: admin_orders_detail_path, method: :patch, local: true, class: "form-row") do |f| %>
              <td><%= f.select :production_status,OrdersDetail.production_statuses.keys.map, class:"form-control form-control-sm col-6" %></td>
              <td><%= f.submit "更新" %></td>
            <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>