<div class="form-group row">
  <%= f.label :"商品画像", class: "col-sm-2" %>
  <%= f.attachment_field :image, class: "col-sm-6" %>
</div>

<div class="form-group row">
  <%= f.label :"商品名", class: "col-sm-2"%>
  <%= f.text_field :name, class: "col-sm-6 form-control-static" %>
</div>

<div class="form-group row">
  <%= f.label :"商品説明", class: "align-top col-sm-2" %>
  <%= f.text_area :description, class: "col-sm-6" %>
</div>

<div class="form-group row">
  <%= f.label :"ジャンル", class: "col-sm-2" %>
  <%= f.collection_select(:genre_id, @genres, :id, :name, prompt: "-- 選択してください --", class: "col-sm-6") %>
</div>

<div class="form-group row">
  <%= f.label :"税抜価格", class: "col-sm-2" %>
  <%= f.text_field :price, class: "col-sm-6 form-control-static" %>円
</div>

<div class="form-group row">
  <%= f.label :"販売ステータス", class: "col-sm-2" %>
  <%= f.select :sale_status, [['販売中', true], ['販売停止', false]], prompt: "-- 選択してください --", class: "col-sm-6" %>
</div>