<div class="container pt-3">
  <div class="row ">
    <h4>注⽂履歴詳細</h4>
  </div>
  <div class="row">
    <div class="col">
      <p><strong>注⽂情報</strong></p>
      <table class="table table-bordered">
        <tr>
          <th class="table-active">注文日</th>
          <td><%= @order.created_at.strftime('%Y/%m/%d %H:%M') %></td>
        </tr>
        <tr>
          <th class="table-active">配送先</th>
          <td>
            <%= @order.postal_code %><br>
            <%= @order.street_address %><br>
            <%= @order.name %>
          </td>
        </tr>
        <tr>
          <th class="table-active">支払方法</th>
          <td><%= @order.payment_method %></td>
        </tr>
        <tr>
          <th class="table-active">ステータス</th>
          <td><%= @order.status %></td>
        </tr>
      </table>
    </div>
    <div class="col">
      <p><strong>請求情報</strong></p>
      <table class="table table-bordered">
        <tr>
          <th class="table-active">商品合計</th>
          <td>
            <%= (@order.billing_amount-800).to_s(:delimited) %>
          </td>
        </tr>
        <tr>
          <th class="table-active">配送料</th>
          <td><%= @order.shipping_cost %></td>
        </tr>
        <tr>
          <th class="table-active">
            <strong>ご請求額</strong>
          </th>
          <td>
            <%= @order.billing_amount.to_s(:delimited) %>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p><strong>注文内容</strong></p>
      <table class="table table-bordered">
        <tr class="table-active">
          <th>商品</th>
          <th>単価(税込)</th>
          <th>個数</th>
          <th>小計</th>
        </tr>
        <% @order_details.each do |order_detail| %>
          <tr>
            <td><%= order_detail.product.name %></td>
            <td class="text-right"><%= ((order_detail.price).floor).to_s(:delimited) %>円</td>
            <td class="text-right"><%= order_detail.quantity %></td>
            <td class="text-right"><%= ((order_detail.price * order_detail.quantity).floor).to_s(:delimited) %>円</td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>