<!DOCTYPE html>
<html>
  <head>
    <title>CakeShibainu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <% if admin_signed_in? %>
          <%= link_to "NaganoCake",admin_top_path, class: 'mt-2 mb-3 text-dark' %>
          <% else %>
          <%= link_to "NaganoCake",public_root_path, class: 'mt-2 mb-3 text-dark' %>
          <% end %>
          <nav>
          <ul class="navbar-nav ml-auto p-3">
          <% if member_signed_in? %>
          <li class="nav-item"><%= link_to "マイページ",public_members_path, class: 'text-dark' %></li>
          <li class="nav-item"><%= link_to "商品一覧",public_products_path, class: 'text-dark' %></li>
          <li class="nav-item"><%= link_to "カート",public_cart_products_path, class: 'text-dark' %></li>
          <li class="nav-item"><%= link_to "ログアウト",destroy_member_session_path, method: :delete, class: 'text-dark' %></li>
          <% elsif admin_signed_in? %>
          <li class="nav-item"><%= link_to "商品一覧",admin_products_path, class: 'text-dark' %></li>
          <li class="nav-item"><%= link_to "会員一覧",admin_members_path, class: 'text-dark' %></li>
          <li class="nav-item"><%= link_to "注文履歴一覧",admin_orders_path, class: 'text-dark' %></li>
          <li class="nav-item"><%= link_to "ジャンル一覧",admin_genres_path, class: 'text-dark' %></li>
          <li class="nav-item"><%= link_to "ログアウト",destroy_admin_session_path,method: :delete, class: 'text-dark' %></li>
          <% else %>
          <li class="nav-item"><%= link_to "About",about_path, class: 'text-dark' %></li>
          <li class="nav-item"><%= link_to "商品一覧", public_products_path, class: 'text-dark' %></li>
          <li class="nav-item"><%= link_to "ログイン", new_member_session_path, class: 'text-dark' %></li>
          <li class="nav-item"><%= link_to "新規登録", new_member_registration_path, class: 'text-dark' %></li>
          <% end %>
          </ul>
          </nav>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
